{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div>
<h1>Gestion de Tâches</h1>
<p>Organisez votre journée efficacement</p>

<form action="">
<label for="email">Email</label>
<input type="email" name="email">
<label for="nom">Nom d'utilisateur</label>
<input type="text" name="nom">
<label for="password">Mot de passe</label>
<input type="password" name="password" id="password">
<button type="submit">S'inscrire</button>
</form>

</div>


{% endblock %}